
:root{

    /* Text colors */
        
        --primary-txt-cl: #2E2F42;
        --secondary-txt-cl: #434455 ;
        --other-txt-cl: #FFFFFF;
        --accent-txt-cl: #4D5AE5;
    
    /* BG colors */
    
        --primary-bg-cl: #FFFFFF;
        --secondary-bg-cl: #2E2F42;
        --other-bg-cl: #F4F4FD;
        --accent-bg-cl: #4D5AE5;
    
    /* Others */
    
        --primary-other-cl: #404BBF;
        --secondary-other-cl: #E7E9FC;
        --other-cl: #F4F4FD;
        --light-slate: #8E8F99;
        --green-blue: #31D0AA;
        --modal-window: #FCFCFC;
        --black-cl: #000000;
        --dark-grey:#757575;
    
    /* Block model */
        --tab-items:2;
        --items: 3;
        --idnent: 24px; 
        --main-items: 4;
        --trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        --trns-slow: 800ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: var(--primary-bg-cl);
        color: var(--primary-txt-cl);
        letter-spacing: 0.02em;
        font-family: 'Roboto', sans-serif;
    }
    /* Header */
    
    .header{
      
        border-bottom: 1px solid #E7E9FC;
        
        width: 100%;
        background-color: var(--primary-bg-cl)
    } 
    .container{
        /* Phone 320 =< */
        min-width: 320px;
        max-width: 428px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        /* width: 1158px; */
        
    }
    @media screen and (min-width:768px){
        /* Tablet 768 =< */
        .container{
            max-width: 768px;
        }
        
    }
    @media screen and (min-width:1200px){
        /* Desktop 1158 =< */
        .container{
            max-width: 1440px;
            width: 1200px;
        }
        
    }
    .section{
        padding-top: 96px;
        padding-bottom: 96px;
        
    }
    @media screen and (min-width:768px){
        /* Tablet 768 =< */
        .section{
        padding-top: 96px;
        padding-bottom: 96px;
        
    }
        
    }
    @media screen and (min-width:1200px){
        /* Desktop 1158 =< */
        .section{
            padding-top: 120px;
            padding-bottom: 120px;
            
        }
        
    }
    .header-contacts{
        display: none;
        /* display: flex;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px; */
    }
    @media screen and (min-width:768px){
        /* Tablet 768 =< */
        .header-contacts{
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
        }
        
    }
    @media screen and (min-width:1200px){
        /* Desktop 1158 =< */
        .header-contacts{
            display: flex;
            align-items: center;
            padding-left: 0px;
            padding-right: 0px;
            flex-direction: inherit;
        }
    }
    .header-mobile{
       display: block; 
    }
    
    .header-container{
        display: flex;
        align-items: center;
        /* padding-left: 0px;
        padding-right: 0px; */
    }
    .logo{
        font-size: 18px;
        line-height: calc(24/18);
        font-family: 'Raleway', sans-serif;
        color: var(--accent-txt-cl);
        letter-spacing: 0.03em;
    
    }
    
    .header-logo{
        font-size: 18px;
        line-height: calc(24/18);
        font-family: 'Raleway', sans-serif;
        color: var(--accent-txt-cl);
        letter-spacing: 0.03em;
        margin-right: 76px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    @media screen and (min-width:768px){
        /* Tablet 768 =< */
        .header-logo{
            font-size: 18px;
            line-height: calc(24/18);
            font-family: 'Raleway', sans-serif;
            color: var(--accent-txt-cl);
            letter-spacing: 0.03em;
            margin-right: 0;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        
    }
    @media screen and (min-width:1200px){
        /* Desktop 1158 =< */
        .header-logo{
            font-size: 18px;
            line-height: calc(24/18);
            font-family: 'Raleway', sans-serif;
            color: var(--accent-txt-cl);
            letter-spacing: 0.03em;
            margin-right: 76px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
    .studio-letter{
        color: var(--primary-txt-cl);
    }
    .header-item{
        font-weight: 500;
        color: var(--primary-txt-cl);
        text-decoration: none;
        line-height:calc(24/16);
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        display: block;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        
    }
    
    .header-list{
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;   
        padding-left: 0px;
    }
    .header-nav{
        display: none;
        /* display: flex;
        align-items: center;
        gap: 40px;
        margin-right: auto; */
    }
    @media screen and (min-width:768px){
        /* Tablet 768 =< */
        .header-nav{
            display: flex;
            align-items: center;
            gap: 40px;
            margin-right: auto;
            margin-left: auto;
        
    }
        
    }
    @media screen and (min-width:1200px){
        /* Desktop 1158 =< */
        .header-nav{
            display: flex;
            align-items: center;
            gap: 40px;
            margin-right: auto;
            margin-left: 0;
        }
        
    }
    
    
    .current{
        color: var(--primary-other-cl);
    }
    
    .header-item.current::after{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--primary-other-cl);
        bottom: 0;
        left: 0;
    
    }
    
    .address{
        color: var(--secondary-txt-cl);
        text-decoration: none;
        font-style: normal;
        line-height: calc(24/16);
        margin-right: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address:hover,
    .address:focus {
     color: var(--primary-other-cl);
    }
    
    .number{
        color: var(--secondary-txt-cl);
        text-decoration: none;
        font-style: normal;
        line-height: calc(24/16);
        padding-top: 24px;
        padding-bottom: 24px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .number:hover,
    .number:focus{
        color: var(--primary-other-cl);
    }
    .link{
        text-decoration: none;
    }
    .link:hover,
    .link:focus{
        color: var(--primary-other-cl);
    }
    .url{
        list-style: none;
    }
    .list{
        list-style: none;
        flex-basis: calc((100% - var(--idnent) * 2) / var(--main-items));
    }   
    .links{
        font-weight: 500;
        color: var(--primary-txt-cl);
        text-decoration: none;
        line-height:calc(24/16);
    }
   
    .header-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 22px;
        margin-left: auto;
    }
    .burger-icon {
        fill: var(--primary-txt-cl);
    }
    @media screen and (min-width:768px){
        .header-menu-btn {
            display: none;
        }
    }
    @media screen and (min-width:1200px){
        .header-menu-btn {
            display: none;
        }
    }
    .menu-container{
        position: fixed;
        background-color: var(--primary-bg-cl);
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100vh;
        padding: 40px;
        transform: translateX(100%);
        transition: var(--trns-fast);
    }
    .menu-container.is-open{
        transform: translateX(0);
    }
    .menu-btn{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        background-color: var(--secondary-other-cl);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-btn:hover,
    .menu-btn:focus,
    .modal-icon:hover,
    .modal-icon:focus{
        background-color: var(--primary-other-cl);
        fill: var(--other-txt-cl);
       
    }
    .menu-colomn {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        /* max-width: 320px; */
    }
    .menu-items{
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: var(--primary-txt-cl);
        text-decoration: none;
        transition: var(--trns-fast);
    }
    .menu-items:focus{
        color: var(--primary-other-cl);
    }
    .current-menu{
        color: var(--accent-bg-cl);
    }
    
    .menu-items.current-menu::after{
        
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--primary-other-cl);
        bottom: 0;
        left: 0;
    
    }
   
    .menu-contacts {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 150px;
        padding-bottom: 48px;
        max-width: 320px;
        margin-left: 0;
    }
    .menu-tel {
        font-weight: 700;
        font-size: 32px;
        line-height: calc(40/32);
        letter-spacing: 0.02em;
        color: var(--secondary-txt-cl);
        transition: var(--trns-fast);
        text-decoration: none;
    }
    .menu-address {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;
        color: var(--secondary-txt-cl);
        transition: var(--trns-fast);
        text-decoration: none;
    }
    .menu-tel:focus{
        color: var(--primary-other-cl);
}
    .menu-address:focus{
        color: var(--primary-other-cl);
    }
    .menu-society{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        max-width: 320px;
        margin-left: 0px;

    }
    /* Hero section */
    
    .caption{
        width: 317px;
        max-width: 100%;
        /* height: 80px; */
        color: var(--other-txt-cl);
        font-size: 56px;
        line-height: calc(60/56);
        text-align: center; 
        margin: 0 auto;
        margin-bottom: 72px;
        animation: move-right 1000ms ease-out 500ms 5 alternate both;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
       
    }
    @media screen and (min-width:768px){
        /* Tablet 768 =< */
        .caption{
            width: 494px;
            
            /* height: 80px; */
            color: var(--other-txt-cl);
            font-size: 56px;
            line-height: calc(60/56);
            text-align: center; 
            margin: 0 auto;
            margin-bottom: 48px;
            animation: move-right 1000ms ease-out 500ms 5 alternate both;
    }
        
    }
    @media screen and (min-width:1200px){
        /* Desktop 1158 =< */
        .caption{
            width: 494px;
            
            /* height: 80px; */
            color: var(--other-txt-cl);
            font-size: 56px;
            line-height: calc(60/56);
            text-align: center; 
            margin: 0 auto;
            margin-bottom: 48px;
            animation: move-right 1000ms ease-out 500ms 5 alternate both;
    }
}
    .hero-sec{
        background-color: var(--secondary-bg-cl);
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero/Dark-bg_mob@1x.png);
        background-size: cover;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    @media (min-device-pixel-ratio: 2),
        (--webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            .hero-sec{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero/Dark-bg_mob@2x.png);
        }
    }
    @media screen and (min-width: 428px){
        .hero-sec{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero/Dark-bg_mob@1x.png);
        }
        @media (min-device-pixel-ratio: 2),
        (--webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            .hero-sec{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero/Dark-bg_mob@2x.png);
        }
    }
    }

    @media screen and (min-width: 768px){
        .hero-sec{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero/Dark-bg_tab@1x.png);
        }
        @media (min-device-pixel-ratio: 2),
        (--webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            .hero-sec{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero/Dark-bg_tab@2x.png);
        }
    }
}

    @media screen and (min-width: 1200px){
        .hero-sec{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero/people-office\ 1_desk@1x.png);
        }
        @media (min-device-pixel-ratio: 2),
        (--webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            .hero-sec{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero/people-office\ 1_desk@2x.png);
        }
    }
    }
    .hero-container{
        margin: 0 auto;
    }
    .hero-button{
        background-color: var(--accent-bg-cl);
        cursor: pointer;
        color: var(--other-txt-cl);
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        padding: 16px 32px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin: 0 auto;
        display: flex;  
        border: none;
        letter-spacing: 0.04em;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .hero-button:hover,
    .hero-button:focus{
        background-color: var(--primary-other-cl);
    } 
    
    /* First section */
    .first-sec{
        /* display: flex;
        gap: 24px;
        align-items: center;   */
    }
    .first-sec{
       margin-left: auto;
        /* width: 396px; */
        max-width: 100%;
    }
    @media screen and (min-width:768px){
        .first-sec{
            margin-left: 0%;
        }
    }
    @media screen and (min-width:1200px){
        .first-sec{
            display: flex;
            gap: 24px;
            align-items: center;   
        }
    }
   
    .point{
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
    }
    @media screen and (min-width:768px){
        /* Tablet 768 =< */
        .point{
            font-size: 20px;
            line-height: calc(24/20);
            letter-spacing: 0.02em;
            font-weight: 500;
            margin-bottom: 8px;   
            text-align: inherit;
        }
        
    }
    @media screen and (min-width:1200px){
        /* Desktop 1158 =< */
        .point{
            font-size: 20px;
            line-height: calc(24/20);
            letter-spacing: 0.02em;
            font-weight: 500;
            margin-bottom: 8px;   
            text-align: inherit;
        }
    }
    .main-links{
        display: none;
    }
    @media screen and (min-width:1200px){
        .main-links{
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 24px;
            margin-bottom: 8px;
        }
    }
    
    
    .feature{
        width: 264px;
        height: 112px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 4px;
        background-color: var(--other-bg-cl);
    }
    .pharagraphs{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        margin-top: 8px;
        margin-bottom: 72px;
        
    }
    @media screen and (min-width:768px){
        .pharagraphs{
            color:var(--secondary-txt-cl);
            line-height: calc(24/16);
            margin-top: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: calc(24/16);
            letter-spacing: 0.02em;
           
            
    }
}
    @media screen and (min-width:1200px){
        .pharagraphs{
            color:var(--secondary-txt-cl);
            line-height: calc(24/16);
            margin-top: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: calc(24/16);
            letter-spacing: 0.02em;
            margin: auto;
            
    }
}
    /* .point{
        /* font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;
        font-weight: 500;
        margin-bottom: 8px;    */
    
    .rectangles{
        
        background-color: var(--other-bg-cl);
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 4px;
    
    }
    
    /* Second section */
    
    .second-sec{
        align-items: center;
        display: flex;
        gap: 24px;
        margin-top: 72px;
        justify-content: center;
        padding-left: 0px;
    }
    
    .subtitle{
            
        display: none;
    }
    @media screen and (min-width:1200px){
        .subtitle{
            padding-top: 0;
            display: flex;
        }
    }
    
    .about-items{
        max-width: none;
    }
    .text{
        font-size: 36px;
        line-height: calc(40/36);  
        color:var(--primary-txt-cl);
        letter-spacing: 0.02em;
        text-align: center;
    }
    
    /* Third section */
    
    .third-sec{
        background-color: var(--other-bg-cl);
        
        }
        .team{
            padding-left: 0px;
            margin-top: 72px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 72px;
        }
        @media screen and (min-width:768px){
        .team{
            align-items: center;
            display: flex;
            gap: 24px;
            padding-left: 0px;
            margin-top: 72px;
        }
    }
    @media screen and (min-width:1200px){
        .team{
            align-items: center;
            display: flex;
            gap: 24px;
            padding-left: 0px;
            margin-top: 72px;
        }
    }

    .banner{
        font-size: 36px;
        line-height: calc(40/36);
        color: var(--primary-txt-cl);
        letter-spacing: 0.02em;
        text-align: center;
    }
    .boxes{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .names{
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;
        font-weight: 500;
        text-align: center;
        margin-bottom: 8px;
        margin: 0 auto;
    }
    .subjects{
        color:var(--secondary-txt-cl);
        line-height: calc(24/16);
        margin: 0 auto;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .society-items{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .society-links{
        width: 40px; 
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-bg-cl);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .society-links:hover,
    .society-links:focus{
        background-color: var(--primary-other-cl);
    }
    .border-box{
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px; 
    }   
    .member{
        width: 264px;
        height: 380px;
    }
    
    /* Fourth section */
    .customers{
        /* padding-top: 96px; */
    }
    @media screen and (min-width:768px){
        .customers{
            padding-top: 130px;
        }
    }

    @media screen and (min-width:1200px){
        .customers{
            padding-top: 130px;
        }
    }
    @media screen and (min-width:768px){
        .custom-items{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            margin-top: 72px;
        }
    }
    @media screen and (min-width:1200px){
        .custom-items{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            margin-top: 72px;
        }
    }
    .custom-items{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin-top: 72px;
    }
    .border-customers{
        width: 168px;
        height: 88px;
    }
    .custom-links{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-slate);
        border-radius: 4px;
        fill: var(--light-slate);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .custom-icon{
        width: 104px;
        height: 56px; 
    }   
    .custom-links:hover,
    .custom-links:focus{
        border: 1px solid #404BBF;
        border-radius: 4px;
        fill: var(--primary-other-cl);
      
    }
    
    /* Footer */
    
    
    .footer{
        font-size: 18px;
        line-height: calc(21/18);
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: var(--secondary-bg-cl);
    }
    @media screen and (min-width:768px){

    }
    @media screen and (min-width:1200px){
        .footer{
            font-size: 18px;
            line-height: calc(21/18);
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: var(--secondary-bg-cl);
        }
    }
    .footer-logo{
        font-size: 18px;
        line-height: calc(24/18);
        font-family: 'Raleway', sans-serif;
        color: var(--accent-txt-cl);
        letter-spacing: 0.03em;
        text-align: center;
        display: block;
    }
    @media screen and (min-width:768px){
        .footer-logo{
            font-size: 18px;
        line-height: calc(24/18);
        font-family: 'Raleway', sans-serif;
        color: var(--accent-txt-cl);
        letter-spacing: 0.03em;
        text-align: inherit;
    
        }
    }
    @media screen and (min-width:1200px){
        .footer-logo{
            font-size: 18px;
        line-height: calc(24/18);
        font-family: 'Raleway', sans-serif;
        color: var(--accent-txt-cl);
        letter-spacing: 0.03em;
        text-align: inherit;
        }
        }

    @media screen and (min-width:1200px){
        .desc{
            color: var(--secondary-other-cl);
            font-size: 16px;
            line-height: calc(24/16);
            letter-spacing: 0.02em;
            width: 264px;
            margin-top: 16px;
            margin-left: auto;
        }
    }
    /* .desc{
        color: var(--secondary-other-cl);
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        width: 264px;
        margin-top: 16px;
        margin-left: 0px; */
    
    
    .desc{
        color: var(--secondary-other-cl);
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        width: 264px;
        margin-top: 16px;
        margin-left: 0px;
    }
    
    
    .studio-letter-2{
        color: var(--other-cl);
    }
    @media screen and (min-width:1200px){
    
        .social-media-container{
            display: flex;
        }
        }
    
    .society-footer{
        display: flex;
        justify-items: center;
        gap: 16px;
    }
    @media screen and (min-width:768px){
        .social-media{
            color: var(--other-txt-cl)  ;
            margin-bottom: 16px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.02em;
            line-height: calc(24/16);
            display: flex;
            flex-wrap: wrap;
        }
    }
    @media screen and (min-width:1200px){
        .social-media{
            color: var(--other-txt-cl)  ;
            margin-bottom: 16px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.02em;
            line-height: calc(24/16);
            display: flex;
            flex-wrap: wrap;
        }
}
    .social-media{
        color: var(--other-txt-cl)  ;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: calc(24/16);
        text-align: center;
    }
    .soc-links{
        width: 40px; 
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .soc-links:hover,
    .soc-links:focus{
        background-color: var(--green-blue);
    }
    @media screen and (min-width:768px){
        .social-media-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
        }
    }
    @media screen and (min-width:1200px){
    .social-media-container{
        display: flex;
        flex-direction: inherit;
        flex-wrap: inherit;
    }
}
.left-side-footer{
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
    @media screen and (min-width:768px){
        .left-side-footer{
            width: 264px;
            margin: 0;
            
        }
    }
    @media screen and (min-width:1200px){
    .left-side-footer{
        width: 264px;
        margin: 0;
        
    }
}
@media screen and (min-width:768px){
    .desktop-footer{
        display: flex;
    }
}
.right-side-footer{
    width: 208px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
    @media screen and (min-width:768px){
        .right-side-footer{
            width: 208px;
            margin-left: auto;
        }
    }
    @media screen and (min-width:1200px){
        .right-side-footer{
            width: 208px;
            margin-left: 120px;
            margin-bottom: 0px;
        }
}
.subscribe-column {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    @media screen and (min-width:768px){
        .subscribe-column {
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
    }
    @media screen and (min-width:1200px){
        .subscribe-column {
            margin-left: 80px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
}
 .subscribe-title{
    color: #E7E9FC;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    color: #FFFFFF;
    display: block;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
 }
    /* .subscribe-line{
        display: flex;
        flex-direction: column;
    } */

    @media screen and (min-width: 768px){
        .subscribe-line{
            display: flex;
            align-items: flex-start;
        }
    }
@media screen and (min-width: 1200px){
.subscribe-line{
    display: flex;
    align-items: flex-start;
}
}

    @media screen and (min-width:768px){
        .subscribe-title{
            color: #E7E9FC;
            font-weight: 500;
            font-size: 16px;
            line-height: calc(24/16);
            color: #FFFFFF;
            display: block;
            letter-spacing: 0.02em;
            margin-bottom: 16px;
            display: flex;
            text-align: inherit;
        }
    }
    @media screen and (min-width:1200px){
        .subscribe-title{
            color: #E7E9FC;
            font-weight: 500;
            font-size: 16px;
            line-height: calc(24/16);
            color: #FFFFFF;
            display: block;
            letter-spacing: 0.02em;
            margin-bottom: 16px;
            display: flex;
            text-align: inherit;
        }
    }
   
    @media screen and (min-width:768px){
        .subscribe{
            align-items: baseline;
            justify-content: center;
            display: flex;
        }
    }
    @media screen and (min-width:1200px){
        .subscribe{
            align-items: baseline;
            justify-content: center;
            display: flex;
        }
    }
    .subscribe{
       
    }
    
    .subscribe-input {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        width: 264px;
        height: 40px;
        font-size: 12px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: var(--primary-bg-cl);
        margin-right: 24px;
        transition: outline-color var(--trns-fast);
        outline: 2px solid transparent;
        outline-offset: -1px;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
        min-width: 320px;
        
    }
    @media screen and (min-width:768px){
        .subscribe-input {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            width: 264px;
            height: 40px;
            font-size: 12px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            color: var(--primary-bg-cl);
            margin-right: 24px;
            transition: outline-color var(--trns-fast);
            outline: 2px solid transparent;
            outline-offset: -1px;
            
        }
    }
    @media screen and (min-width:1200px){
        .subscribe-input {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            width: 264px;
            height: 40px;
            font-size: 12px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            color: var(--primary-bg-cl);
            margin-right: 24px;
            transition: outline-color var(--trns-fast);
            outline: 2px solid transparent;
            outline-offset: -1px;
            min-width: 264px;
        }
    }
    /* .subscribe-input:focus + .subscribe-btn{
        background-color: var(--primary-other-cl);
    } */
    .subscribe-input:focus,
    .subscribe-input:focus-visible{
    outline-color: var(--accent-txt-cl);
    }
    .subscribe-input::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: calc(24/12);
        letter-spacing: 0.04em;
    
    color: rgba(255, 255, 255, 0.6);
    
    }
    
    .subscribe-btn {
        
        padding: 8px 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-bg-cl);
        color: var(--other-txt-cl);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: var(--trns-fast);
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.04em;
        margin-left: auto;
        margin-right: auto;
      
    }
    @media screen and (min-width:768px){
        .subscribe-btn {
        
            padding: 8px 24px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: var(--accent-bg-cl);
            color: var(--other-txt-cl);
            border-radius: 4px;
            border: none;
            cursor: pointer;
            transition: var(--trns-fast);
            font-weight: 500;
            font-size: 16px;
            line-height: calc(24/16);
            letter-spacing: 0.04em;
            margin-left: initial;
          
        }
    }
    @media screen and (min-width:1200px){
        .subscribe-btn {
        
            padding: 8px 24px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: var(--accent-bg-cl);
            color: var(--other-txt-cl);
            border-radius: 4px;
            border: none;
            cursor: pointer;
            transition: var(--trns-fast);
            font-weight: 500;
            font-size: 16px;
            line-height: calc(24/16);
            letter-spacing: 0.04em;
          
        }
    }
    .subscribe-btn:focus,
    .subscribe-btn:hover{
        background-color: var(--primary-other-cl);
    }
    
    /* .subscribe-btn:disabled{
        
        cursor: not-allowed;
       
        
    } */
    .subscribe-icon {
       
       margin-left: 16px;
       
    }
    
    /* Modal window */
    .backdrop{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(46, 47, 66, 0.4);
        transition: opacity var(--trns-fast);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width:768px){
        
    }
    @media screen and (min-width:1200px){
        .backdrop{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(46, 47, 66, 0.4);
            transition: opacity var(--trns-fast);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
    .backdrop.is-hidden{
        opacity: 0;
        pointer-events: none;
        visibility: opacity var(--trns-fast);
        
    }
    
    .modal{
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 100%;
        width: 392px;
        /* height: 576px; */
        /* min-height: 576px; */
        background-color: var(--modal-window);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transform: translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 400ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px;
    }
    @media screen and (min-width:768px){
        .modal{
            position: absolute;
            left: 50%;
            top: 50%;
            width: 408px;
            /* height: 576px; */
            min-height: 576px;
            background-color: var(--modal-window);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transform: translate(-50%, -50%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 400ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 24px 24px;
        }
    }
    @media screen and (min-width:1200px){
        .modal{
            position: absolute;
            left: 50%;
            top: 50%;
            width: 408px;
            /* height: 576px; */
            min-height: 576px;
            background-color: var(--modal-window);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transform: translate(-50%, -50%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 400ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 24px 24px;
        }
    }
    .modal-btn{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        background-color: var(--secondary-other-cl);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        
    }
    .modal-btn:hover,
    .modal-btn:focus,
    .modal-icon:hover,
    .modal-icon:focus{
        background-color: var(--primary-other-cl);
        fill: var(--other-txt-cl);
       
    }
    .modal-title{
        
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        display: block;
        text-align: center;
        
    }
    .booking-form{
        margin-top: 16px;
        
    }
    
    
    .modal-form-label {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14/12);
        color: var(--light-slate);
        letter-spacing: 0.01em;
        margin-bottom: 4px;
        margin-top: 8px;
        display: block;
    }
    .modal-form-group {
        position: relative;
        /* margin-top: 4px;
        margin-bottom: 8px; */
    }
    .modal-form-field {
        display: block;
        width: 100%;
        height: 45px;
        padding-left: 45px;
        padding-right: 45px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: outline-color var(--trns-fast);
        outline: 2px solid transparent;
        outline-offset: -1px;
    
    }
    .modal-form-field:focus,
    .modal-form-field:focus-visible{
        outline-color: var(--accent-txt-cl);
        
    }
    .modal-form-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transition: fill var(--trns-fast);
        transform: translateY(-50%);
        pointer-events: none;
        
    }
    .modal-form-field:focus + .modal-form-icon{
        fill: var(--accent-txt-cl);
    }
    .modal-form-comment {
        display: block;
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        margin-top: 4px;
        height: 120px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        transition: outline-color var(--trns-fast);
        outline: 2px solid transparent;
        outline-offset: -1px;
        font-size: 12px;
        margin-bottom: 16px;
    }
    .modal-form-comment:focus,
    .modal-form-comment:focus-visible{
        outline-color: var(--accent-txt-cl);
    }
    .modal-form-comment::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: calc(16/12);
        color: rgba(117, 117, 117, 0.5);
    }
    .modal-form-agreement{
        
        display: flex;
        margin-bottom: 24px;
        align-items: center;
        gap: 12px;
       
    }
    .modal-form-checkbox{
        appearance: none;
        display: block;
        width: 16px;
        height: 16px;
        border: 2px solid black;
        border-radius: 2px;
        transition: var(--trns-fast);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
       }
    .modal-form-checkbox:checked{
        background-color: var(--primary-other-cl);
        border-color: var(--primary-other-cl);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' fill='none'%3E%3Cpath fill='%23F4F4FD' d='M8.446.255A.917.917 0 0 1 10 .901a.928.928 0 0 1-.242.649L4.864 7.704a.92.92 0 0 1-1.019.229.92.92 0 0 1-.306-.204L.293 4.466a.925.925 0 0 1-.226-1.024.925.925 0 0 1 .87-.578.916.916 0 0 1 .656.294L4.162 5.74 8.422.282a.329.329 0 0 1 .025-.027h-.001Z'/%3E%3C/svg%3E");
    
        
    }
    .modal-form-desc{
        font-size: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(16/12);  
        color: var(--dark-grey);
        user-select: none;
    }
    .modal-form-link{
        color: var(--accent-txt-cl);
    }
    .modal-submit-btn{
        background-color: var(--accent-bg-cl);
        width: 169px;  
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        color: var(--other-txt-cl);
        display: block;
        align-items: center;
        text-align: center;
        padding: 16px 32px;
        justify-content: center;
        font-family: 'Roboto';
        font-style: normal;
        border-radius: 4px;
        border: none;
        margin-top: 24px;
        cursor: pointer;
        margin: 0 auto;
        transition: var(--trns-fast);
    }
    
    .modal-submit-btn:disabled{
        /* filter: grayscale(1); */
        cursor: not-allowed;
        /* color: transparent; */
        
    }
    .modal-submit-btn:focus,
    .modal-submit-btn:hover{
        background-color: var(--primary-other-cl);
    }
    /* Portfolio */
    
    .flex-basis{
        flex-basis: calc((100% - var(--idnent) * 2) / var(--items));
    }
    
    .buttons-list{
        padding: 12px 24px;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        border: none;
        background-color: var(--other-cl);
        color: var(--accent-bg-cl);
        letter-spacing: 0.04em;
        font-weight: 500;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;  
        cursor: pointer;  
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .buttons-list:hover,
    .buttons-list:focus{
        color: var(--other-txt-cl);
        background-color: var(--primary-other-cl);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    .definition{
        color:var(--secondary-txt-cl);
        line-height: calc(24/16);
        margin-top: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        
}
    .cards{
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
    }
    .cards:hover,
    .cards:focus{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .images{
        display: block;
        width: 100%;
        
    }
    .overlay-box{
        position: relative;
        overflow: hidden;
    }
    .overlay-box-text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--accent-bg-cl);
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      } 
      .overlay-text{
        width: 296px;
        margin-left: 32px;
        margin-top: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24 / 16);
        color: var(--other-bg-cl);
    }
    
    .portfolio-card-link:hover .overlay-box-text{  
        transform: translate(0);      
    }
    .feature-icons{
        width: 100%;
    }
    .features{
        font-size: 20px;
        line-height: calc(24/20);
        color: var(--primary-txt-cl);
        letter-spacing: 0.02em;
        font-weight: 500;
        margin-top: auto;
        
    }
    
    .profession{
        width: calc((100% - var(--idnent) * 2) / var(--items));
    }
    
    .sec-btns{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 72px;
        margin-left: 0px;
        padding-left: 0px;
        list-style: none;
    }
    @media screen and (min-width: 768px){
        .sec-btns{
            display: flex;
            justify-content: center;  
            gap: 24px;
            margin-bottom: 72px;
            margin-left: 0px;
            padding-left: 0px;
            list-style: none;
        }
    }
    @media screen and (min-width: 1200px){
        .sec-btns{
            display: flex;
            justify-content: center;  
            gap: 24px;
            margin-bottom: 72px;
            margin-left: 0px;
            padding-left: 0px;
            list-style: none;
        }
    }
    .sec-links{
        display: flex;
    }
    .flexbox-container{
        display: flex;
        flex-direction: column;
        gap: 48px;
        
    }
    @media screen and (min-width: 768px){
        .flexbox-container{
            display: flex;
            flex-wrap: wrap;
            gap: 72px 24px;
            flex-direction: inherit;
            
        }
    }
    @media screen and (min-width: 1200px){
        .flexbox-container{
            display: flex;
            flex-wrap: wrap;
            gap: 48px 24px;
            flex-direction: inherit;
            
        }
    }
    .jobs{
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 16px;
        background: #FFFFFF;
        border-left: 1px solid #E7E9FC;
        border-right: 1px solid #E7E9FC;
        border-bottom: 1px solid #E7E9FC;
        
    }
    .border{
        background: #FFFFFF;
    
    
    border: 1px solid #E7E9FC;
    }
    
    
    
    .upper{
        padding-top: 76px;
    }
    .cont-item{
        flex-basis: calc((100% - var(--idnent) * 2) / var(--items));
        list-style: none;
    }
    .borders{
        background: #FFFFFF;
        border: 1px solid #E7E9FC;
        
    }
    .backdown{
        padding: 0px;
        margin: 0px;
    }
    img{
        max-width: 100%;
        display: block;
        height: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul{
        margin: 0 auto;
        padding: 0px;
        list-style: none;
    }
    .notes{
        margin-left: auto;
        margin-right: auto;
    }